/*@tailwind base;
@tailwind components;
@tailwind utilities;
*/
input {
    border: none;
}

nav {
    width: 60%;
    margin: auto;
}

nav a {
    margin: 10px;
}

.card {
    border: 1px solid black;
}

nav ul li {
    display: inline;
}

.card {
    padding: 20px;
    display: inline-block;
    vertical-align: middle;
    width: 25%;
    margin-left: 6%;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    background-color: ghostwhite;

}

.overview table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

.open,
.basic {
    background-color: orange;
}

.closed,
.admin {
    background-color: lightgreen;
}

.toast {
    border: 1px solid black;

}

.category-badge {
    background-color: lightpink;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

.edit-link {
    text-decoration: none;
    margin: 10px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
}

.edit-link:hover {
    background-color: cornflowerblue;
    color: white;
}

.ticket-container {
    background-color: aliceblue;
    width: 60%;
    margin: auto;
}