/*@tailwind base;
@tailwind components;
@tailwind utilities;
*/
input {
    border:none;
}

nav a {
    margin: 10px;
}

.card {
    border: 1px solid black;
}

nav ul li {
    display: inline;
}

.card {
    padding: 20px;
    display: inline-block;
    vertical-align: middle;
    width: 25%;
    margin-left: 6%;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    background-color: ghostwhite;

}

.overview table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
 }

.open,
.basic {
    background-color: orange;
}

.closed,
.admin {
    background-color: lightgreen;
}

.toast {
    border: 1px solid black;

}

.toast button {
    width: 100px;
    height: 100px;
}